$c-text: #333;
$c-highlight: #4183c4;

$fw-normal: 300;
$fw-bold: 500;

body {
  color: $c-text;
  font-family: 'Helvetica Neue', Helvetica, 'Segoe UI', Arial, freesans, sans-serif;
  font-weight: $fw-normal;
}

a {
  color: $c-text;
  text-decoration: none;

  &:hover {
    color: $c-highlight;
    text-decoration: underline;
  }
}

.is-hidden {
  display: none;
}

@import "./NavigationView.scss";
@import "./TopView.scss";
@import "./PostView.scss";
