.PostView {
  margin: 0 auto;
  max-width: 720px;

  .title {
    margin-top: 80px;
  }

  .date {
    text-align: right;
  }

  .body {
    margin: 50px 0 0;
  }

  .comment {
    margin: 30px 0 80px;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    img {
      margin-right: 1px;
      width: 16px;
    }
  }
}

@media screen and (max-width: 647px) {
  .PostView {
    .comment {
      img {
        width: 15px;
      }
    }
  }
}


/* Markdown Content */

.md {
  padding: 0;
  line-height: 1.7;
}

.md a {
    background: 0 0;
}
.md a:active,
.md a:hover {
    outline: 0
}
.md a:active,
.md a:focus {
    color: $c-highlight;
}
@media (any-hover: hover) {
  .md a:hover {
    color: $c-highlight;
  }
}
.md strong {
    font-weight: 700
}
.md em {
    font-style: italic
}
.md blockquote,
.md dl,
.md ol,
.md p,
.md pre,
.md table,
.md ul {
    margin-top: 0;
    margin-bottom: 16px
}
.md h1,
.md h2,
.md h3,
.md h4,
.md h5,
.md h6 {
    font-family: 'Helvetica Neue', Helvetica, 'Segoe UI', Arial, freesans, sans-serif;
    position: relative;
    margin-top: 1.5em;
    margin-bottom: 16px;
    font-weight: 700;
    line-height: 1.4
}
.md h1,
.md h2 {
    padding-bottom: .3em;
    border-bottom: 1px solid #eee
}
.md h1 {
    font-size: 1.75em;
    line-height: 1.225;
}
.md h2 {
    font-size: 1.5em;
}
.md h3 {
    font-size: 1.25em;
}
.md h4 {
    font-size: 1.125em;
}
.md h5 {
    font-size: 1em;
}
.md h6 {
    font-size: 1em;
    color: #777;
}
.md code,
.md kbd,
.md pre {
    font-family: Consolas, 'Liberation Mono', Menlo, Courier, monospace
}
.md code {
    padding: .2em 0;
    margin: 0;
    font-size: 85%;
    background-color: rgba(0, 0, 0, .04);
    border-radius: 3px
}
.md code:after,
.md code:before {
    letter-spacing: -.2em;
    content: '\00a0'
}
.md pre {
    word-wrap: normal;
    padding: 10px;
    overflow: auto;
    font-size: 85%;
    line-height: 1.45;
    background-color: #f7f7f7;
    border-radius: 3px;
}
.md pre code {
    display: inline;
    max-width: initial;
    padding: 0;
    margin: 0;
    overflow: initial;
    line-height: inherit;
    word-wrap: normal;
    background: 0 0
}
.md pre code:after,
.md pre code:before {
    content: normal
}
.md pre>code {
    font-size: 1em;
    word-break: normal;
    white-space: pre;
    border: 0
}
.md kbd {
    background-color: #e7e7e7;
    background-image: -webkit-linear-gradient(#fefefe, #e7e7e7);
    background-image: linear-gradient(#fefefe, #e7e7e7);
    background-repeat: repeat-x;
    display: inline-block;
    padding: 5px 5px 1px;
    margin: 0 1px;
    font-size: 11px;
    line-height: 10px;
    color: #000;
    border: 1px solid #cfcfcf;
    border-radius: 2px;
    box-shadow: 0 1px 0 #ccc
}
.md hr:after,
.md hr:before {
    display: table;
    content: ''
}
.md input {
    color: inherit;
    font: inherit;
    margin: 0;
    font-size: 13px;
    line-height: 1.4;
    font-family: Helvetica, Arial, freesans, clean, sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol'
}
.md input[disabled] {
    cursor: default
}
.md input[type=checkbox] {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0
}
.md blockquote {
    margin: 0 0 16px;
    padding: 0 15px;
    color: #777;
    border-left: 4px solid #ddd
}
.md blockquote>:first-child {
    margin-top: 0
}
.md blockquote>:last-child {
    margin-bottom: 0
}
.md img {
    border: 0;
    max-width: 100%;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}
.md hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    overflow: hidden;
    background: #e7e7e7;
    height: 4px;
    padding: 0;
    margin: 48px 0 16px;
    border: 0
}
.md hr:after {
    clear: both
}
.md td,
.md th {
    padding: 0
}
.md table {
    border-collapse: collapse;
    border-spacing: 0;
    display: block;
    width: auto;
    overflow: auto;
    word-break: normal;
    word-break: keep-all
}
.md table td,
.md table th {
    padding: 6px 13px;
    border: 1px solid #ddd
}
.md table th {
    font-weight: 700
}
.md table tr {
    background-color: #fff;
    border-top: 1px solid #ccc
}
.md table tr:nth-child(2n) {
    background-color: #f8f8f8
}
.md ol,
.md ul {
    padding: 0 0 0 2em
}
.md ol ol,
.md ul ol {
    list-style-type: lower-roman
}
.md ol ol,
.md ol ul,
.md ul ol,
.md ul ul {
    margin-top: 0;
    margin-bottom: 0
}
.md ol ol ol,
.md ol ul ol,
.md ul ol ol,
.md ul ul ol {
    list-style-type: lower-alpha
}
.md li>p {
    margin-top: 16px
}
.md dd {
    margin-left: 0
}
.md dl {
    padding: 0
}
.md dl dt {
    padding: 0;
    margin-top: 16px;
    font-size: 1em;
    font-style: italic;
    font-weight: 700
}
.md dl dd {
    padding: 0 16px;
    margin-bottom: 16px
}
