.TopView {
  header {
    .link {
      margin-top: 108px;
      margin-left: calc(50% + 5px);

      > p {
        margin: 8px 0;
      }
    }

    .sns {
      display: flex;
      justify-content: center;
      align-items: center;

      > a {
        margin: 0 5px;
      }
    }

    h1 {
      margin: 31px 0 10px;
      text-align: center;
    }
  }

  .selection {
    margin-top: 25px;
    list-style: none;
    text-align: center;
    padding: 0;
    // for https://github.com/postcss/autoprefixer/issues/1271
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    li {
      display: inline-block;
      margin: 10px 5px;

      input[type=checkbox] {
        display: none;

        & + label {
          color: $c-text;
          border-bottom: dotted 1px $c-text;
          cursor: pointer;
        }

        &:checked + label {
          color: $c-highlight;
          border-bottom: dotted 1px $c-highlight;
        }
      }
    }
  }

  .list {
    margin: 30px auto 80px;
    width: 100%;
    max-width: calc(648px - 32px);

    &--item {
      display: grid;
      grid-template-rows: 0fr 0fr 0fr 0fr;
      grid-template-columns: 1fr 0fr;
      grid-template-areas: "title       title"
                           "description thumbnail"
                           "tag_list    thumbnail"
                           "date        thumbnail";
      & * { margin: 0; }

      height: 145px;
      overflow: hidden;
      transition: all 0.2s;

      &.is-hidden {
        display: grid;
        height: 0;
      }

      .title {
        grid-area: title;
      }

      .description {
        margin-top: 10px;
        grid-area: description;
      }

      .tag_list {
        margin-top: 10px;
        grid-area: tag_list;
        list-style: none;
        padding: 0;

        li {
          display: inline-block;
          border-bottom: dotted 1px $c-text;

          &:nth-child(n + 2) {
            margin-left: 10px;
          }
        }
      }

      .date {
        margin-top: 4px;
        grid-area: date;
      }

      img {
        grid-area: thumbnail;
        justify-self: end;
        margin-top: 10px;
        margin-left: 10px;
        width: 80px;
        height: 80px;
      }
    }
  }
}

@media screen and (max-width: 374px) {
  .TopView {
    .list {
      &--item {
        img {
          width: 64px;
          height: 64px;
        }
      }
    }
  }
}

